/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.nav-wrapper{
  /*background-color: rgba(109, 106, 104, .5);*/
  z-index: 5;
}
.colorNav{
  background-color: rgba(109, 106, 104, .75);
}
#index-banner {
  /*background-image: url("../img/salt.jpg");*/
}
#slogan{
  text-transform: uppercase;
  font-variant: small-caps;
  font-family: 'Rock Salt', cursive;
  font-size: 40px;
  text-shadow: 1px 1px red;
}
#slogan-2{
  text-shadow: 1px 1px black;
}
#salt2 {
  width: 200px;
  height: 200px;
  border-radius: 50px;
}
#salt3 {
  width: 200px;
  height: 200px;
  border-radius: 50px;
}
.page-footer{
  background-color: rgba(0, 0, 0, 0.5);;
}
body{
  background-image: url("../img/salt.jpg");
  background-repeat: repeat;
  background-size: 100px 100px;
}
#first{
  z-index: 4;
  background-color: rgba(255, 255, 255, 0.25);
}
